
*.pyc

hg-data/histogram_tools.py

hg-data/Histograms.json

hg-data/nsDeprecatedOperationList.h

hg-data/UseCounters.conf

hg-data/dom/base/usecounters.py

hg-data/Scalars.yaml

hg-data/parse_scalars.py

data/jquery-3.1.1.min.js
