
body {
    margin: 0px;
    padding 0px;
}

#github-banner img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
    z-index: 15;
}

#loading-overlay {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: #000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 14;
}

#loading-anim {
    width: 220px;
    height: 19px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -9px 0 0 -110px;
}

#probe-detail-view {
    padding-top: 20px;
}

#detail-probe-name {
    display: inline;
}

.hidden {
    display: none;
}

#stats {
    font-style: italic;
    font-size: 90%;
    margin-bottom: 10px;
}

#measurements {
    padding-left: 0px !important;
}

#search-results-table {
    width: 100%;
}

#search-results-table td {
    cursor: pointer;
    white-space: nowrap;
}

.search-results-field-name,
.search-results-field-description {
    max-width: 400px;
    min-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#search-results-table tr th:first-child {
    background-color: white;
    border: none;
}

#search-results-table tr td:first-child {
    background-color: white;
    border: none;
}

.code {
    font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
    font-size: 85%;
}
